html,
body {
  margin: 0;
  padding: 0;
}

.nav {
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 200px;
  height: 100vh;
  background: #ffffff;
  border-right: 1px solid #000000;
  overflow: auto;
}
.nav-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.nav-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}
.nf-icon {
  font-size: 48;
}

.shrink-nav {
  cursor: pointer;
}
.nav-separator {
  border-top: 1px solid black;
  width: calc(100% - 40%);
}
.container {
  display: flex;
}

.main-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  height: 100vh;
}

.nav-filters {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.nav-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 10px;
  cursor: pointer;
}

.nf-today {
  background-color: rgb(202, 202, 202);
  border-radius: 5px;
}

.footer {
  bottom: 0;
}

#display {
  display: flex;
  flex-direction: column;
  margin: 30px;
  gap: 5px;
}

.todo-item {
  display: grid;
  grid-template: 1.5rem 1.5rem / repeat(3, 1fr);
  justify-items: flex-start;
  align-items: flex-start;

  height: 3rem;
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
}

.todo-title {
  background-color: aquamarine;
  grid-row: 1;
  grid-column: span 3;
}

.todo-due {
  background-color: aqua;
  grid-column: 2;
}

.todo-priority {
  background-color: bisque;
  grid-column: 3;
}
