html,
body {
  margin: 0;
  padding: 0;
}

button {
  all: unset;
  cursor: pointer;
}

button:hover,
button:focus {
  outline: orange 5px auto;
}
.nav {
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 200px;
  height: 100vh;
  background: #ffffff;
  border-right: 1px solid #000000;
  overflow: auto;
}
.nav-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.nav-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}
.nf-icon {
  font-size: 48;
}

.shrink-nav {
  cursor: pointer;
}
.nav-separator {
  border-top: 1px solid black;
  width: calc(100% - 40%);
}
.container {
  display: flex;
}

.main-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  height: 100vh;
}

.todo-holder {
  width: 100%;
}

.nav-filters {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.nav-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 10px;
  cursor: pointer;
}

.nf-everything {
  background-color: rgb(202, 202, 202);
  border-radius: 5px;
}

.footer {
  bottom: 0;
}

#display {
  display: flex;
  flex-direction: column;
  margin: 30px;
  gap: 5px;
}

.todo-item {
  display: grid;
  grid-template: auto auto / 1.8rem repeat(3, 1fr);
  justify-items: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
}
.todo-check {
  grid-row: 1 / 3;
  align-items: center;
  align-self: center;
  height: 24px;
  cursor: pointer;
}

.todo-title {
  background-color: aquamarine;
  grid-row: 1;
  grid-column: 2 / span 3;
}

.todo-due {
  background-color: aqua;
  grid-column: 2;
}

.todo-priority {
  background-color: bisque;
  grid-column: 4;
  display: flex;
  align-self: center;
  justify-self: right;
  font-size: small;
}

#add-todo {
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  display: flex;
  margin: 0;
  padding: 0;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: grid;
  grid-template: 1fr / 1fr 30px;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;
}
#new-todo {
  display: grid;
  gap: 5px;
}
